<div class="container"> 


<div class="card mb-5">
    <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
    <h5> This is the blog title</h5>
    <h6> Posted by Nadybee on 07/18/2022</h6>
    </div>
    <div class="card-body text-dark">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quas nam a minima nulla, at harum sed excepturi ab aliquid consectetur maxime, 
        accusantium inventore ratione error, fuga nostrum fugiat laudantium? Ex odit quaerat magni asperiores nemo maxime maiores vitae laudantium, voluptatibus eligendi blanditiis nihil tempora autem soluta eum quia nostrum sint quae. Nisi harum quos, veniam, natus amet incidunt ea magni sunt quo, illum laudantium assumenda.
    </div>
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="add a comment" aria-label="add a comment" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" id="post-comment">Post</button>
  </div>
</div>

<h3>Comments:</h3>
<ul class="list-group bg-light">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
</div>